---
version: 2
interactions:
    - id: 0
      request:
        host: api.openweathermap.org
        body: ""
        form: {}
        headers: {}
        url: http://api.openweathermap.org/geo/1.0/direct?appid=f897a99d971b5eef57be6fafa0d83239&limit=1&q=Los+Angeles%2CUS
        method: GET
      response:
        body: '[{"name":"Los Angeles","local_names":{"ja":"ロサンゼルス","he":"לוס אנג''לס","el":"Λος Άντζελες","lv":"Losandželosa","eo":"Los-Anĝeleso","kn":"ಲೊಸ್ ಆಂಜೆಲೆಸ್","tt":"Лос-Анджелес","gl":"Os Ánxeles","ka":"ლოს-ანჯელესი","ko":"로스앤젤레스","de":"Los Angeles","es":"Los Ángeles","zh":"洛杉矶","pt":"Los Angeles","hi":"लॉस एंजिलस","en":"Los Angeles","oc":"Los Angeles","th":"ลอสแอนเจลิส","pl":"Los Angeles","ru":"Лос-Анджелес","fa":"لوس آنجلس","fr":"Los Angeles","it":"Los Angeles","sr":"Лос Анђелес","uk":"Лос-Анджелес","bn":"লোস আংজেলেস","mi":"Ngā Ānahera","be":"Лос-Анджэлас","ta":"லொஸ் ஆஞ்ஜெலெஸ்","ar":"لوس أنجلس","ba":"Лос-Анджелес"},"lat":34.0536909,"lon":-118.242766,"country":"US","state":"California"}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 408.823709ms
    - id: 1
      request:
        host: api.openweathermap.org
        body: ""
        form: {}
        headers: {}
        url: http://api.openweathermap.org/geo/1.0/direct?appid=f897a99d971b5eef57be6fafa0d83239&limit=1&q=Los+Angeles%2C+CA%2CUS
        method: GET
      response:
        body: '[{"name":"Los Angeles","local_names":{"lv":"Losandželosa","uk":"Лос-Анджелес","ar":"لوس أنجلس","ja":"ロサンゼルス","sr":"Лос Анђелес","fa":"لوس آنجلس","he":"לוס אנג''לס","pl":"Los Angeles","oc":"Los Angeles","it":"Los Angeles","eo":"Los-Anĝeleso","mi":"Ngā Ānahera","el":"Λος Άντζελες","be":"Лос-Анджэлас","ko":"로스앤젤레스","th":"ลอสแอนเจลิส","hi":"लॉस एंजिलस","bn":"লোস আংজেলেস","ba":"Лос-Анджелес","de":"Los Angeles","ta":"லொஸ் ஆஞ்ஜெலெஸ்","pt":"Los Angeles","tt":"Лос-Анджелес","es":"Los Ángeles","ru":"Лос-Анджелес","gl":"Os Ánxeles","kn":"ಲೊಸ್ ಆಂಜೆಲೆಸ್","zh":"洛杉矶","en":"Los Angeles","ka":"ლოს-ანჯელესი","fr":"Los Angeles"},"lat":34.0536909,"lon":-118.242766,"country":"US","state":"California"}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 231.181916ms
    - id: 2
      request:
        host: api.openweathermap.org
        body: ""
        form: {}
        headers: {}
        url: http://api.openweathermap.org/geo/1.0/direct?appid=fake&limit=1&q=FakeCity%2CUS
        method: GET
      response:
        body: '{"cod":401, "message": "Invalid API key. Please see https://openweathermap.org/faq#error401 for more info."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 401 Unauthorized
        code: 401
        duration: 43.335042ms
