---
version: 2
interactions:
    - id: 0
      request:
        host: api.openweathermap.org
        body: ""
        form: {}
        headers: {}
        url: http://api.openweathermap.org/geo/1.0/zip?appid=f897a99d971b5eef57be6fafa0d83239&zip=90210%2CUS
        method: GET
      response:
        body: '{"zip":"90210","name":"Beverly Hills","lat":34.0901,"lon":-118.4065,"country":"US"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 192.670709ms
    - id: 1
      request:
        host: api.openweathermap.org
        body: ""
        form: {}
        headers: {}
        url: http://api.openweathermap.org/geo/1.0/zip?appid=fake&zip=00000%2CUS
        method: GET
      response:
        body: '{"cod":401, "message": "Invalid API key. Please see https://openweathermap.org/faq#error401 for more info."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 401 Unauthorized
        code: 401
        duration: 42.613208ms
